.header {
  border-radius: 10px;
    grid-area: header;
    background: linear-gradient(to top, rgb(31, 30, 30),rgba(60, 61, 61, 0.671));
  }
  
  .header img {
    margin: 10px;
    width: 40px;
  
  }
  .loginBlock {
    float: right;
        
  }
  
  .loginBlock a {
    /* border: solid 1px; */
    border-radius: 5px;
    border-width: 0;
    background:rgb(19, 131, 47);
   
    text-decoration: none;
    color: white;
    opacity: .9;
    transition: opacity .2s linear;
    padding: 5px;
    margin: 0 auto;
  }


  .loginBlock a:hover {
    background:rgb(208, 210, 216);
    color: rgb(0, 0, 0);
    opacity: 1;
  } 

  .logout {
    border-radius: 5px;
    border-width: 0;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 20px;
    cursor: pointer;
  }

  .logout:hover {
    color: white;
    background:rgba(111, 122, 122, 0.671)
  }
    
    