.header {
  border-radius: 10px;
    grid-area: header;
    background: linear-gradient(to top, rgb(109, 109, 112), rgb(191, 202, 223));
  }
  
  .header img {
    margin: 10px;
    width: 40px;
  
  }
  