.header {
  border-radius: 10px;
    grid-area: header;
    background: linear-gradient(to top, rgb(31, 30, 30),rgba(60, 61, 61, 0.671));
  }
  
  .header img {
    margin: 10px;
    width: 40px;
  
  }
  .loginBlock {
    float: right;
    
    
  }
  .loginBlock a {
    
    text-decoration: none;
    color: white;
    opacity: .9;
    transition: opacity .2s linear;
    
  }


  .loginBlock a:hover {
    color: gold;
    opacity: 1;
  } 