
  
  .description_block {
    min-height: 40px;
    width: 200px;
  }

  .profile_photo {
    max-width: 200px;
    border-radius: 5px;
  }

  .item {
      color: white;
  }

/* div .avatarDownload {
  display: none;
} */
div .avatarDownload {
  display: block;
  background-color: rgb(172, 172, 172);
  width: 115px;
  margin: 0 auto;
}

.status {
  text-decoration: underline;

}
.status b {
  color: black;
  text-decoration: underline;

}
.information {
  font-size: 14px;
  font-weight: normal;
  width: 300px;
}
.information b {
  color: black;
}

/* .avatarDownload {
  width: 115px;
  margin: 0 auto;
} */