

.app-wrapper {
  display: grid;
  width: 1000px;
  margin: 0 auto;

  border-radius: 10px;
  
  grid-template-areas: 
  "header header"
  "nav content";
    grid-template-rows: 60px 1fr;
      grid-template-columns: 2fr 10fr;
      grid-gap: 10px;

}

.app-wrapper-content {
  
  grid-area: content;
  background: linear-gradient(to bottom, rgb(66, 65, 65),rgba(60, 61, 61, 0.671));
  border-radius: 10px;
  color: white;
}