

.app-wrapper {
  display: grid;
  width: 1000px;
  margin: 0 auto;

  border-radius: 10px;
  
  grid-template-areas: 
  "header header"
  "nav content";
    grid-template-rows: 60px 1fr;
      grid-template-columns: 2fr 10fr;
      grid-gap: 10px;

}

.app-wrapper-content {
  
  grid-area: content;
  background: linear-gradient(to bottom, rgba(170, 250, 243, 0.164),rgba(24, 86, 92, 0.671));
  border-radius: 10px;
}