.app-wrapper {
  display: grid;
  width: 1000px;
  margin: 0 auto;

  grid-template-areas: 
  "header header"
  "nav content";
    grid-template-rows: 60px 1fr;
      grid-template-columns: 2fr 10fr;
      grid-gap: 10px;

}

.app-wrapper-content {
  
  grid-area: content;
  background: linear-gradient(to bottom, rgba(238, 245, 217, 0.774),rgb(55, 55, 61));
  border-radius: 10px;
}