
.dialogs {
  display: grid;
  grid-template-columns: 4fr 10fr;
  
}

.dialogs_items {
  color: white;
}

.dialogs_items .active {
  color: gold;
}

.dialog {

}


.messages .message {
  color: white;
}