
.dialogs {
  display: grid;
  grid-template-columns: 4fr 10fr;
  
}

.dialogs .dialogs_items {
  color: rgb(255, 255, 255);
}

.dialogs_items .active {
  color: rgb(255, 0, 0);
}

.dialog {
  color: white;
}


.messages .message {
  color: rgb(255, 255, 255);
}