.nav {
  border-radius: 10px;
  height: 200px;
  grid-area: nav;
  background: linear-gradient(to bottom, rgba(132, 246, 237, 0.609),rgba(24, 86, 92, 0.801));
}

div {
  margin: 10px;
  font-weight: bold;

}

.links {
  color: rgb(66, 65, 65);
  text-decoration: none;
  opacity: 0.8;
  transition: opacity .2s linear;

}

.links.active {
  color: rgb(255, 255, 255);

}

.links:hover {
  color: rgb(255, 255, 255);
  opacity: 1;
}