.nav {
  border-radius: 10px;
  height: 200px;
  grid-area: nav;
  background: linear-gradient(to bottom, rgb(31, 30, 30),rgba(60, 61, 61, 0.671));
}

div {
  margin: 10px;
  font-weight: bold;

}

.links {
  color: rgb(255, 255, 255);
  text-decoration: none;
  opacity: 0.8;
  transition: opacity .2s linear;

}

.links.active {
  color: rgb(255, 230, 0);
  font-size: 20px;
  margin: 10px;
  
}

.links:hover {
  color: rgb(149, 149, 149);
  opacity: 1;
}